# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Use Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: .node-version
        cache: 'npm'
    - name: Clean install
      run: npm ci
    - name: Build
      run: npm run build
    - name: Format check
      run: npm run fmt:check
    - name: Lint check
      run: npm run lint:warn
